<p id="notice"><%= notice %></p>

<h1>Listing Deploys</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>

        <% @repos.branches user: 'kowalewski91', repo: 'heroku-auto-deploy' do |branch| %>
            <%= branch.name %>
        <% end %>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Deploy', new_deploy_path %>
